.home{
    display: flex;
}


.products{
    background-color: aqua;
    width: 78%;
    /* flex-wrap: wrap; */
    padding: 20px;
    display: grid;
    /* display: flex; */
    justify-content: space-around;
    grid-template-columns: auto auto auto;

}

.product{
    margin: 10px;
    padding: 5px;

}

.productImg{
    object-fit: contain;
}

.filter{
    background-color: #343a40;
    color:white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 22%;
    /* margin: 10px; */
    height: 90vh;
}
.filter >span{
    padding-bottom:20px;
}
.title{
    font-size: 30px;
}
.productTitle{

}
